@use 'app.scss';


.header {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 10px 16px;
    max-width: 100vw;
    height: 65px;
    align-items: center;
}

.header__icon-menu {
    cursor: pointer;
    position: absolute;
}

.header__logo {
    max-width: 67px;
    height: 40px;
    margin-inline: auto;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.header__icon-right {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0;
    gap: 26px;
    align-items: center;
}

.header__icon-comparison {
    cursor: pointer;
}

.header__icon-search {
    cursor: pointer;
}

.container {
    padding-inline: 15px;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: color-mix(in lch, var(--c-grey-03) 10%, var(--c-white) 90%);
}

.navigation__pages {
    display: flex;
    gap: 10px;
    font-family: var(--f-mod);
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    padding-block: 16px;
    cursor: pointer;
}

.navigation__page-main {
    color: var(--c-grey-03);
}

.navigation__page-current {
    color: color-mix(in lch, var(--c-grey-03) 70%, var(--c-white) 30%);
}

.navigation__page {
    width: 100%;
    text-align: center;
    font-family: var(--f-btn);
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: var(--c-grey-01);
    padding-block: 20px;
    border-top: 1px solid var(--c-grey-05);
}

.info-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.info-block__number {
    max-width: max-content;
    font-family: var(--f-btn);
    cursor: pointer;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    margin-bottom: -14px;
}

.info-block__company {
    font-family: var(--f-mod);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.info-block__details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: var(--f-mod);
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: var(--c-grey-06);
}

.info-block__detail {
    display: flex;
    flex-direction: column;
}

.feedback {
    margin-bottom: 50px;
}

.feedback__top {
    font-family: var(--f-btn);
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: var(--c-black-03);
    text-transform: uppercase;
}

.feedback__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.feedback__form-field {
    padding: 17px 20px;
    border: 2px solid transparent;
    background-color: var(--c-grey-07);
    border-radius: var(--b-radius-sm);
    font-family: var(--f-mod);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    &:focus {
        border: 2px solid var(--c-red-hover);
        outline: none;
    }

    &--comment {
        max-width: 100vw;
        height: 166px;
        overflow: auto;
        resize: none;
    }
}

.feedback__accord {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 20px;
}

.feedback__accord-checkbox {
    -webkit-appearance: none;
    position: relative;
    background-color: var(--c-grey-07);
    min-width: 20px;
    height: 20px;
    border-radius: var(--b-radius-el);
    transition: all 0.35s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: var(--c-red-hover);
    }

    &:checked {
        background-color: var(--c-red-hover);
        color: var(--c-white);

        &::after {
            content: '';
            position: absolute;
            left: 5px;
            top: 4px;
            height: 6px;
            width: 8px;
            border: solid var(--c-white);
            border-width: 0 2px 2px 0;
            transform: rotate(130deg) rotateX(180deg);
        }
    }
}

.feedback__accord-text {
    color: var(--c-grey-06);
    font-family: var(--f-mod);
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;

    a {
        color: var(--c-black-01);
        text-decoration: unset;
    }
}

.feedback__btn {
    max-width: 190px;
    background-color: var(--c-red-01);
    color: var(--c-white);
    border-radius: var(--b-radius-sm);
    text-align: center;
    padding: 19px 36px;
    font-family: var(--f-btn);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 15px;
    transition: all 0.35s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: var(--c-red-hover);
    }
}

.map {
    max-width: 100vw;
}

.cards {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 60px;
} 

.card {
    background-color: var(--c-grey-07);
    margin-inline: 15px;
    padding: 33px 12px;
    border-radius: var(--b-radius-card);
}

.card__title {
    font-family: var(--f-btn);
    font-weight: 500;
    font-size: 26px;
    line-height: 28px;
    color: var(--c-black-01);
    text-transform: uppercase;
    margin-bottom: 15px;
}

.card__numbers {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.card__number {
    color: var(--c-black-01);
    font-family: var(--f-body);
    font-weight: 400;
    font-size: 19px;
    line-height: 28px;
}

.card__address {
    font-family: var(--f-body);
    color: var(--c-grey-06);
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px;
}

.card__btn {
    font-family: var(--f-body);
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var(--c-red-01);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-decoration: unset;

    &:hover {
        color: var(--c-red-hover);
    }
}

.card__working-hours {
    font-family: var(--f-body);
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var(--c-black-01);
    margin-top: 20px;
    margin-bottom: 7px;
}

.footer__top {
    background-color: var(--c-black-01);
    color: var(--c-white);
    padding: 40px 15px;
}

.footer__nav {
    display: flex;
    flex-direction: column;
    max-width: max-content;
}

.footer__nav-element {
    font-family: var(--f-body);
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    transition: all 0.35s ease-in-out;
    cursor: pointer;

    &:hover {
        color: var(--c-red-01);
    }
}

.footer__links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 15px;
}

.footer__link {
    font-family: var(--f-mod);
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    color: var(--c-grey-03);
    transition: all 0.35s ease-in-out;
    cursor: pointer;

    &:hover {
        color: var(--c-red-01);
    }
}

.footer__bottom {
    background-color: var(--c-black-02);
    color: var(--c-white);
    padding: 40px 15px;
}

.footer__numbers {
    margin-bottom: 20px;
}

.footer__number {
    max-width: max-content;
    font-family: var(--f-mod);
    cursor: pointer;
    font-weight: 400;
    font-size: 23px;
    line-height: 34px;
    transition: all 0.35s ease-in-out;
    cursor: pointer;

    &:hover {
        color: var(--c-red-01);
    }
}

.footer__btn {
    max-width: 190px;
    background-color: transparent;
    border: 2px solid var(--c-grey-04);
    border-radius: var(--b-radius-sm);
    text-align: center;
    padding: 19px 36px;
    font-family: var(--f-btn);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 15px;
    transition: all 0.35s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: var(--c-grey-04);
    }
}

.mail {
    font-family: var(--f-mod);
    font-weight: 500;
    font-size: 19px;
    line-height: 21px;
    color: var(--c-red-01);
    cursor: pointer;

    &--body {
        font-size: 25px;
        line-height: 30px;
    }
}

.footer__address {
    font-family: var(--f-body);
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    margin-top: 42px;
    margin-bottom: 10px;
}

.footer__company {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--c-black-02);
    color: var(--c-white);
    border-top: 1px solid var(--c-grey-04);
    padding: 19px 15px 29px 15px;
    font-family: var(--f-mod);
    font-weight: 200;
    font-size: 13px;
    line-height: 14px;
    color: var(--c-grey-03);
}

.footer__developer {
    span {
        color: var(--c-white);
    }
}